<div>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
</div>

<a href="localhost:3000/students/new">Create Student</a>

<%= link_to "create student", new_student_path %>
